* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  color: navy;
  background: linear-gradient(to right, lightgreen, lightblue);
}

.heading {
  margin-top: 32px;
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.text {
  font-size: 18px;
  text-align: center;
  margin-bottom: 64px;
}

.notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 40px;
  justify-content: center;
}

.note {
  border: none;
  border-radius: 15px;
  padding: 15px;
  font-size: 18px;
  height: 200px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  color: navy;
  background-color: rgba(255, 255, 255, 0.1);
  resize: none;
  outline: none;
  transition: all 0.3s ease;
}

.note::placeholder {
  color: gray;
  opacity: 30%;
}

.note:hover,
.note:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.btn {
  border-color: rgba(255, 255, 255, 0.37);
  border-radius: 15px;
  padding: 15px;
  font-size: 70px;
  height: 200px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.27);
  margin-bottom: 40px;
  cursor: pointer;
  transition: all 0.3 ease;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.55);
  color: rgba(0, 0, 0, 0.6);
}
