* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: cursive;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border: 2px dotted green;
  min-width: 200px;
  height: 100px;
  padding: 20px;
  position: relative;
}

.icon {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.counter {
  font-size: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: green;
}

.container h4 {
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

@media (max-width: 786px) {
  body {
    flex-direction: column;
  }
}
