* {
  margin: 0;
  padding: 0;
}

body {
  font-family: cursive;
}

h1 {
  text-align: center;
  margin: 24px;
}

.color-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.color {
  color: #fff;
  width: 300px;
  height: 150px;
  margin: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: 2px solid #000;
}
